@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$radius: 8px;
$menu-item-active-background-color: $turquoise;
$breadcrumb-item-color: $white;
@import "~bulma/bulma";

.image img {
    border-radius: 50%;
}
