@charset "utf-8";
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$green: #34FF1D;
$radius: 8px;
$menu-item-active-background-color: $turquoise;
$breadcrumb-item-color: $white;
$link: $turquoise;
$body-overflow-y: auto;
$section-padding: 1rem 1.5rem;
$title-color: $grey-dark;
$subtitle-color: $grey;
@import "~bulma/bulma";

.image img {
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
}

.selectable-item {
    cursor: pointer;
    :hover {
        background-color: $white-bis;
    }
}

.dropdown-item .icon {
    margin-right: 10px;
}
